# Python virtual environment
backend/.env/
backend/env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
**/.env
.env.production

# Database and indexes

backend/data/raw/

# OS/editor junk
.DS_Store
*.log